## Visual Studio specific
## ----------------------
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

## .NET Core / .NET 5+ specific
## ----------------------------
project.lock.json
project.fragment.lock.json
artifacts/


# If you want to keep the template but ignore the local overrides:
!appsettings.json
!appsettings.Development.json

# User secrets ID folder
# (Best practice is to keep these out of the project tree entirely)
.microsoft.visualstudio.azure.usersecrets.xml

## Tools and Packages
## ------------------
.pnpm-debug.log*
node_modules/
jspm_packages/
# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Operating System files
## ----------------------
.DS_Store
Thumbs.db

## Docker / Containers
## -------------------
.dockerignore