<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AFL-Packages" value="https://www.myget.org/F/afl-packages/auth/18771f2f-6633-462d-b724-ac2c98ca0e8b/api/v3/index.json" />
  </packageSources>
</configuration>